# Server Configuration
NODE_ENV=development
PORT=5001
CLIENT_URL=http://localhost:5173

# Database Configuration
MONGO_URI=mongodb+srv://ravisherathiya18888_db_user:NtoNN0GKGoOHcJrU@cluster0.lrvesq8.mongodb.net/

# Authentication
JWT_ACCESS_SECRET=a1040a74ba19dfa31b88a2d974bf6f42712eba74465dc47ac83c1ef5ccf46035d48b078b4af51ce35a9c523dc7781856
JWT_REFRESH_SECRET=0c1b219a0b08d8caeba6877f01be21d2a997cb94d4889114fc64529f6d81454e1699d3b1c64f21d12b31e54d8fec5060
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
COOKIE_DOMAIN=localhost

# Storage Provider (local | s3)
STORAGE_PROVIDER=local
LOCAL_STORAGE_PATH=./uploads

# Email Provider (console | smtp)
EMAIL_PROVIDER=console
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=no-reply@efm.portal

# Export Settings
EXPORT_ASYNC_THRESHOLD=1000
